%card--title-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0vw 10vw 20vw;
    h1 {
        font-weight: 600;
        text-transform: uppercase;
    }
    hr {
        background-color: #212529;
        height: .2vw;
        width: 7vw;
        margin-bottom: 8vw;
    }
}