@import '../helpers/placeholders';



// - Bootstrap bar
  nav {
    background-color: #1a242f;
    border-bottom: #53c3ca 4px solid;
    position: sticky;
    top: 0;
    z-index: 9;
  }
  
.bg-dark-custom {
  background-color: #1a242f;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 1.3rem;
  font-weight: lighter;
  color: white;
  transition: all 250ms;
  &:hover {
    color: $pink;
  }
}

.navbar-nav {
  margin-left: 15vw;
}

// - js change

.active {
  color: $pink !important;
}
