@import '../helpers/placeholders';

#about {
    @extend %card--title-center;
}

#about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
    padding: 5vw;
    box-shadow: 2px 2px 3px #0000006b;
    h3 {
        font-size: 1.5rem;
    }
    
}