@import '../helpers/placeholders';

#blog {
  @extend %card--title-center;
}

#blog__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 20vw;
}

.blog__container--item {
  position: relative;
  img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in;

    &:hover {
      filter: opacity(0);
    }
  }
  &:hover {
    .slide-bottom {
      top: 70%;
      opacity: 1;
    }
    .slide-top {
      top: 30%;
      opacity: 1;
    }
  }
}

// - Card slide in styling
// * Top slide
.slide-top {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 10%;
  opacity: 0;
  transition: all 300ms ease-in;
}

.slide-top__text {
  font-size: 1.8rem;
  font-weight: 800;
}

.slide-top__focus {
  font-size: 1.5rem;
  font-weight: 300;
  color: $pink;
}

// * Bottom slide
.slide-bottom {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 90%;
  opacity: 0;
  transition: all 300ms ease-in;
  &:hover {
    .card-bg {
      opacity: 0;
    }
  }
}

.card-button {
  padding: 0.5vw 1vw;
  border: 2px solid $pink;
  transition: all 250ms ease-in;
  h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    transition: all 250ms ease-in;
  }
  &:hover {
    background-color: $pink;
    h3 {
      color: white;
    }
  }
}

// - Media queries

@media only screen and (min-width: 0px) and (max-device-width: 750px) {
  #blog__container {
    grid-template-columns: repeat(auto-fit, minmax(300px, .85fr));
    justify-content: center;
    grid-auto-rows: 45vw;
    grid-gap: 1vw;
  }
}
